body {
	background: url("../images/background.jpg");
	background-size: cover;
}

.container {
	width: 1028px;
	margin-left: auto;
	margin-right: auto;
}

.page-header {
	display: flex;
	padding-top: 46px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 22px;
}

.go-to-main {
	text-decoration: none;
	display: flex;
	justify-content: space-between;
}

.page-logo-hov {
	display: none;
}

.page-name {
	font-weight: 700;
	font-size: 29px;
	line-height: 32px;
	color: #FFFFFF;
	text-transform: uppercase;
	margin: 0 0 0 8px;
	display: flex;
	flex-direction: column;
}

.page-name-2nd {
	font-size: 18px;
	line-height: 18px;
}

.go-to-main:hover .page-name {
	color: #F26522;
}

.go-to-main:hover .page-logo {
	display: none;
}

.go-to-main:hover .page-logo-hov {
	display: block;
}

.contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-decoration: none;

}

.contact-us {
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	text-align: right;
	color: #FFFFFF;
}

.contact-us:hover {
	color: #F26522;
}

.services {
	margin-bottom: 50px;
}

.entertaiment {
	list-style: none;
	display: flex;
	justify-items: center;
	flex-wrap: wrap;
	gap: 37px 62px;
	width: 100%;
	padding-left: 0;
	margin: 0;
}

.entertaiment-option-link {
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	color: #FFFFFF;
	text-align: center;
	display: block;
}

.entertaiment-img-wrap {
	position: relative;
}

.entertaiment-img {
	margin-bottom: 20px;
}

.details {
	position: absolute;
	background: #F26522;
	color: #FFFFFF;
	display: none;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	bottom: 0;
	padding: 7px 14px 12px 16px;
}

.details-price {
	font-weight: 400;
	font-size: 10px;
	line-height: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 8px;
	margin: 0;
	padding-top: 7px;
}

.details-accent {
	font-size: 20px;
	line-height: 20px;
	padding-top: 0;
}

.details-more {
	margin: 0;
}

.details-more::after {
	content: ">";
	display: inline-block;
	margin-left: 16px;
}

.entertaiment-option-link:hover .details {
	display: flex;
}

.entertaiment-option-link:hover {
	color: #F26522;
}

.footer-copyright {
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: #FFFFFF;
	padding: 15px;
	margin: 0;

}